<h1>
  Chat
</h1>

<hr>

<div id="app-mensajes" class="app-mensajes">
  <div [ngClass]="{ 'text-right': _cs.usuario.uid == chat.uid }" *ngFor="let chat of _cs.chats">
    <span class="badge" [ngClass]="{ 'badge-primary': _cs.usuario.uid == chat.uid, 'badge-success': _cs.usuario.uid != chat.uid }">
      {{ chat.nombre }}
    </span>
    <p>
      {{ chat.mensaje }}
    </p>
  </div>
</div>

<input type="text" name="mensaje" placeholder="Enviar mensaje" class="form-control" [(ngModel)]="mensaje" (keyup.enter)="enviar_menaje()">